.main-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  padding-bottom: 64px;
}

.main-cart__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 500px;
}

.filters {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px 0;
}

.input-element {
  width: calc(100% - 170px);
  height: 42px;
  padding: 16px;
  border: 1px solid #888;
}

.input-btn {
  width: 150px;
  height: 42px;
  border: 1px solid #111;
  background-color: #111;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1.5px;
  cursor: pointer;
}

.hide {
  display: none;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  border-bottom: 1px solid #999;
}

.action-btn {
  margin: 0px 8px;
  height: 25px;
  color: #fff;
  background-color: black;
  border: none;
  padding: 0px 8px;
  cursor: pointer;
}

.remove-btn {
  background-color: red;
}

.update-btn {
  background-color: green;
}

.edit-btn {
  background-color: orange;
}

.item-text {
  word-break: break-all;
  max-width: 842px;
}

.edit-input {
  max-width: 740px;
  width: 100%;
}
